/* Fonts ============================================================== */

@font-face {
    font-family: "StarWars";
    src: url("../fonts/StarJediLogoMonoLine.woff") format("woff");
}

/* Cards ============================================================== */

.card {
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.card-body {
    border-radius: 0 0 10px 10px;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.hero {
    color: #fff;
    background-color: #007bff;
    overflow: hidden;
}

.enemies {
    color: #fff;
    background-color: #dc3545;
}

.opponent {
    color: #fff;
    background-color: #343a40;
}

/* Buttons ============================================================== */

.btn {
    margin: 125px 0 50px;
}

#reset-button {
    display: none;
}

/* Gameboard ============================================================== */

html {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
}

h1 {
    font-family: "StarWars";
    color: #FFE919;
    font-size: 5rem;
    line-height: 2.5;
}

h2,
h3 {
    color: #fff;
}

p {
    padding: 0;
    margin: 0;
}

.pre-game {
    display: initial;
}

.active-game {
    display: none;
}

#enemies-bar {
    margin: 20px 0;
}

#enemies {
    margin: 0 0 30px;
}

#chosen-opponent {
    /* to keep board from changing size when no opponent selected in full size*/
    min-width: 280px;
}


/* Message area ============================================================== */

#attack-message {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 10px 12px;
    border-radius: 5px;
    margin: 15px 0 10px;
}

.damage {
    font-weight: 600;
    color: #5cb85c;
}

.counter-damage {
    font-weight: 600;
    color: #d9534f;
}


/* Responsive ============================================================== */

@media only screen and (max-width: 995px) {
    h1 {
        font-size: 3rem;
        line-height: 2;
        padding: 0;
    }
}

@media only screen and (max-width: 770px) {
    h1 {
        font-size: 2rem;
    }
    h2,
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1rem;
    }
    .btn {
        margin: 40px 0;
    }
}